body {
    background-color: black;
}

.custom-container {
    padding: 5px 10px;
}

.defect-categories-container {
    overflow: auto;
    padding: 20px 15px;
    padding-right: 0;
    display: block;
}

.defect-reasons-container {
    margin: 10px 0;
    overflow: auto;
    padding: 20px 15px;
    box-shadow: 0px 0px 1px 1px grey;
    display: block;
}

.part-num-container {
    margin: 10px 14px;
    overflow: auto;
    padding: 0 15px;
    display: block;
    width: 97%;
}

.team-scoll-container {
    padding: 10px 20px;
    text-align: center;
}

.fa-arrow-up {
    color: white;
    font-size: 75px;
    display: block;
    padding: 0;
}

.fa-arrow-down {
    color: white;
    font-size: 75px;
    display: block;
    padding: 0;
}

.fa-arrow-left {
    font-size: 65px;
    display: inline-block;
}

.fa-arrow-right {
    font-size: 65px;
    display: inline-block;
}

.lbl-quantity {
    color: white;
    padding: 0;
    margin: 35px 0;
    font-size: 70px;
}

.lbl-defect-category {
    color: white;
    margin: 5px 0;
    margin-top: -5px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    display: block;
}

.lbl-defect-reason {
    color: white;
    margin: 5px 0;
    margin-top: 4px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    display: block;
}

.lbl-part {
    color: white;
    padding-left: 15px;
    margin: 5px 0;
    margin-top: -5px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    display: block;
}

.lbl-team-scroll {
    margin: 0 35px;
}

.lbl-machine {
    margin-bottom: 0;
    border-top-left-radius: 25px;
    background-color: #37d83d;
    padding: 22px;
    text-align: center;
}

.lbl-prod-cell {
    color: white;
    margin-bottom: 0;
    background-color: #2644b5;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}

.lbl-page {
    border-top-right-radius: 25px;
    color: black;
    margin-bottom: 0;
    background-color: white;
    font-weight: bold;
    padding: 28px 0;
    text-align: center;
    margin-top: 20px;
}

.lbl-error-msg {
    width: 100%;
    margin-bottom: 0;
    border-bottom-right-radius: 25px;
    background-color: white;
    color: red;
    font-style: italic;
    padding: 27px 20px;
    right: 0;
}

.error-container {
    padding-left: 0;
}

.quantity-container {
    padding: 0;
    max-width: 100px;
    margin: 10px 0;
    margin-top: 58px;
    text-align: center;
}

.quantity-container-parent {
    margin-left: -20px;
    padding: 0;
}

.btn-defect-category {
    background-color: #a8deff;
    font-size: 30px;
    width: 23%;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.btn-defect-category-selected {
    color: white;
    background-color: #0088da;
}

.btn-defect-reason {
    background-color: #ffe0fb;
    font-size: 30px;
    width: 23%;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.btn-defect-reason-selected {
    color: white;
    background-color: #ff47e7;
}

.btn-part {
    background-color: #ffb9a3;
    font-size: 30px;
    width: 23%;
    margin: 8px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.btn-part-selected {
    color: white;
    background-color: #ff5500;
}

.accept-container {
    padding-left: 0;
    padding-right: 0;
}

.btn-accept {
    width: 100%;
    font-weight: bold;
    background-color: #37d83d;
    padding: 20px 10px;
    border-bottom-left-radius: 25px;
}